{% extends '_base.mjml' %}

<!-- Attributes -->
{% block attributes %}
<mj-class name="header_bg" background-color="#FFD800" />
{% endblock %}

<!-- Header -->
{% block title %}
Service Failure
{% endblock %}

{% block description %}
Some customers are seeing intermittent error on {{ failedSites | join(" , ") }}. We’re aware of the issue and are working on it urgently.
{% endblock%}