{% extends '_base.mjml' %}

<!-- Attributes -->
{% block attributes %}
<mj-class name="header_bg" background-color="#E52626" />
{% endblock %}

<!-- Header -->
{% block title %}
Unscheduled Maintenance
{% endblock %}

{% block description %}
Please be advised that the server will be unavailable from {{start_time}} to {{end_time}} on {{date}}. This period of downtime will be scheduled for urgent update/maintenance to be applied to the network servers.
{% endblock%}